@charset "UTF-8"; /* Define a codificação de caracteres do arquivo CSS como UTF-8. */

:root{
    --body-color: #010409;
    --border-color: #21262D;
    --text-color: white;
    --title-color: #007afc; 
    --destaque-color: #B11016; 
    --hover-scroll-color: #1a1a35; 
    --gradient-colors: #0c0c1c, #02050b; 
    --scroll-corrigido: #161628;
}

body.corpo { /* Seleciona o elemento body com a classe 'corpo'. */
    background-color: var(--body-color); /* Define a cor de fundo do corpo como #010409. */
    color: var(--text-color); /* Define a cor do texto do corpo como branco. */
    width: 100vw; /* Define a largura do corpo como 100% da largura da janela de visualização. */
}

header { /* Seleciona o elemento header. */
    border-bottom: var(--border-color) solid 1px; /* Adiciona uma borda sólida de 1px na parte inferior do cabeçalho com a cor var(--border-color). */
    height: 8vh; /* Define a altura do cabeçalho como 70px. */
    width: auto; /* A largura do cabeçalho é automaticamente ajustada para caber o conteúdo. */
}

header img { /* Seleciona todas as imagens dentro do elemento header. */
    width: 200px; /* Define a largura das imagens como 200px. */
}

header > a.logo { /* Seleciona todos os links diretos (<a>) com a classe 'logo' dentro do elemento header. */
    padding-left: 100px; /* Adiciona um preenchimento à esquerda de 100px aos links. */
}

container {
    height: 92vh; /* Define a altura do cabeçalho como 92% da viewport (complementar ao header). */
}

.menu, .suporte {
    height: 90%; /* Define uma altura de 90% do elemento pai (container) para os elementos de classe menu e suporte. A tag main carregará a mesma estilização no seletor exclusivo. */
}

.menu a { /* Seleciona todos os links dentro de um elemento com a classe 'menu'. */
    text-decoration: none; /* Remove qualquer decoração de texto dos links (como sublinhados). */
    width: 95%; /* Define a largura dos links como 95% da largura do elemento pai. */
    margin: auto; /* Centraliza os links horizontalmente dentro do elemento pai. */
    border-radius: 5px; /* Arredonda os cantos dos links com um raio de 5px. */
    padding-left: 50px; /* Adiciona um preenchimento à esquerda de 50px aos links. */
}

footer img.logosite { /* Seleciona todas as imagens com a classe 'logosite' dentro do elemento footer. */
    width: 80px; /* Define a largura das imagens como 80px. */
}

nav > a { /* Seleciona todos os links diretos (<a>) dentro do elemento nav. */
    text-decoration: none; /* Remove qualquer decoração de texto dos links (como sublinhados). */
}

main { /* Seleciona o elemento main. */
    text-align: justify; /* Alinha o texto à esquerda e à direita, adicionando espaço extra entre as palavras conforme necessário. */
    font-size: 14px; /* Define o tamanho da fonte como 14px. */
    line-height: 25px; /* Define a altura da linha como 25px. */
    height: 90%; /* Define a altura do elemento principal como 90% do elemento pai (container). */
    width: auto; /* A largura do elemento principal é automaticamente ajustada para caber o conteúdo. */
    background: linear-gradient(var(--gradient-colors)); /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b.*/
    border: var(--border-color) solid 1px; /* Adiciona uma borda sólida de 1px ao redor do elemento principal com a cor var(--border-color).*/
    box-sizing: border-box; /* Inclui padding e border na largura e altura total do elemento.*/
    padding: 20px; /* Adiciona um preenchimento de 20px em todos os lados do conteúdo do elemento principal.*/
    overflow-y: scroll; /* Permite rolagem no eixo y se o conteúdo ultrapassar a altura especificada.*/
}

main h1 { /* Seleciona todos os títulos h1 diretos dentro do elemento main.*/
    color: var(--title-color); /* Define a cor dos títulos h1 como var(--title-color).*/
}

main h2 { /* Seleciona todos os elementos h2 dentro do elemento main. */
    font-size: 1.5em; /* Define o tamanho da fonte como 1.5 vezes o tamanho da fonte do elemento pai. */
}

main > div.imagem { /* Seleciona todas as divs diretas com a classe 'imagem' dentro do elemento main. */
    display: flex; /* Define o modelo de layout flexível para a div, o que permite que seus filhos sejam alinhados de maneira flexível. */
    justify-content: center; /* Alinha os filhos da div no centro ao longo do eixo principal. */
    align-items: center; /* Alinha os filhos da div no centro ao longo do eixo transversal. */
    padding: 20px; /* Adiciona um preenchimento de 20px em todos os lados do conteúdo da div. */
    margin-bottom: 8px; /* Adiciona uma margem de 8px abaixo da div. */
}

.legendtext { /* Seleciona todos os elementos com a classe 'legendtext'. */
    text-align: end; /* Alinha o texto à direita se a direção do texto for da esquerda para a direita. */
    font-style: italic; /* Define o estilo da fonte como itálico. */
} 

.linkprova { /* Seleciona todos os elementos com a classe 'linkprova'. */
    text-align: end; /* Alinha o texto à direita se a direção do texto for da esquerda para a direita. */
}

ul > li { /* Seleciona todos os elementos li que são filhos diretos de um elemento ul. */
    margin-bottom: 10px; /* Adiciona uma margem de 10px abaixo dos elementos li. */
}

div.buttons { /* Seleciona todas as divs com a classe 'buttons'. */
    display: flex; /* Define o modelo de layout flexível para a div, o que permite que seus filhos sejam alinhados de maneira flexível. */
    gap: 20px; /* Define um espaço de 20px entre os filhos da div. */
}

button.destaque { /*seleciona um botão com classe "destaque"*/
    color: var(--destaque-color); /*define uma cor padrão para o botão de vermelho*/
    border: 1px solid var(--destaque-color); /*define um espaçamento de borda de 1px e uma coloração vermelha*/
}
button.destaque:hover { /*seleciona um botão com classe "destaque" quando o cursor estiver em cima do elemento*/
    color: var(--text-color); /*define uma cor padrão para o botão de branco*/
    background-color: var(--destaque-color); /*define uma cor padrão para o fundo de vermelho*/
    border: 1px solid var(--destaque-color); /*define um distanciamento de 1px entre a borda e o elemento e uma cor vermelha*/
}

footer { /* Seleciona o elemento footer. */
    height: 10%; /* Define a altura do rodapé em 10% do elemento pai.*/
    width: 100vw; /* Define a largura do rodapé como 100% da largura da janela de visualização. */
    border-top: var(--border-color) solid 1px; /* Adiciona uma borda sólida de 1px na parte superior do rodapé com a cor var(--border-color). */
}

footer > div { /* Seleciona todas as divs que são filhas diretas de um elemento footer. */
    width: 100vw; /* Define a largura das divs como 100% da largura da janela de visualização. */
    position: absolute; /* Posiciona as divs em relação ao elemento pai mais próximo (não estático) ou ao viewport.*/
}

scroll-container { /* Seleciona todos os elementos 'scroll-container'. */
    display: block; /* Define o tipo de exibição como 'block', o que significa que o elemento ocupa todo o espaço disponível em sua linha e força uma quebra de linha antes e depois de si. */
    width: 350px; /* Define a largura do elemento como 350px. */
    height: 100%; /* Define a altura do elemento em 100% do elemento pai.*/
    overflow-y: scroll; /* Permite rolagem no eixo y se o conteúdo ultrapassar a altura especificada. */
    background: linear-gradient(var(--gradient-colors)); /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b.*/
    border-right: var(--border-color) solid 1px; /* Adiciona uma borda sólida de 1px à direita do elemento com a cor var(--border-color).*/
}

scroll-container::-webkit-scrollbar, main::-webkit-scrollbar { /* Seleciona a barra de rolagem do scroll-container e do elemento main para navegadores Webkit (Chrome, Safari).*/
    width: 12px; /* Define a largura da barra de rolagem como 12px.*/
    display: none; /* Esconde a barra de rolagem.*/
}

scroll-page { /* Seleciona todos os elementos 'scroll-page'. */
    display: flex; /* Define o modelo de layout flexível para o elemento, o que permite que seus filhos sejam alinhados de maneira flexível. */
    align-items: center; /* Alinha os filhos do elemento no centro ao longo do eixo transversal. */
    justify-content: start; /* Alinha os filhos do elemento no início ao longo do eixo principal. */
    height: 40px; /* Define a altura do elemento como 40px. */
    font-size: 1em; /* Define o tamanho da fonte como 1em, que é equivalente ao tamanho atual da fonte. */
}

scroll-page:hover { /* Seleciona todos os elementos 'scroll-page' quando o cursor está sobre eles. */
    background-color: var(--hover-scroll-color); /* Define a cor de fundo dos elementos como var(--hover-scroll-color) quando o mouse está sobre eles. */
    border: 1px solid var(--border-color); /* Adiciona uma borda sólida de 1px ao redor dos elementos com a cor var(--border-color) quando o mouse está sobre eles. */
}

scroll-page:hover a { /* Seleciona todos os links dentro dos elementos 'scroll-page' quando o cursor está sobre eles. */
    color: var(--text-color); /* Define a cor dos links como branco quando o mouse está sobre eles. */
}

/* Após JavaScript adicionar a classe .active, aplica-se as seguintes propriedades */
scroll-page.active { /* Seleciona todos os elementos 'scroll-page' com classe 'active'. */
    background-color: var(--hover-scroll-color); /* Define a cor de fundo dos elementos. */
    border: 1px solid var(--border-color); /* Adiciona uma borda sólida de 1px ao redor dos elementos.*/
}
scroll-page.active a { /* Seleciona todos os links dentro dos elementos 'scroll-page' com classe 'active'. */
    color: var(--text-color); /* Define a cor dos links como branco.*/
}

/* Estilos para a modal */
.modal, .modalEstatistica { /* Seleciona todos os elementos com a classe 'modal'. */
    display: none; /* A modal está escondida por padrão. */
    position: fixed; /* A modal é posicionada em relação à janela de visualização. */
    z-index: 1; /* A modal aparecerá acima de todos os outros elementos. */
    left: 0; /* A modal é posicionada no canto esquerdo da janela de visualização. */
    top: 0; /* A modal é posicionada no topo da janela de visualização. */
    width: 100%; /* A largura da modal é definida como 100% da largura da janela de visualização. */
    height: 100%; /* A altura da modal é definida como 100% da altura da janela de visualização. */
    overflow: hidden; /* Desativa o scroll */
    background-color: rgba(0,0,0,0.7); /* A cor de fundo da modal é preta com uma opacidade de 70%. */
}

.modal-content, .modal-contentEstatistica { /* Seleciona todos os elementos com as classes 'modal-content' e 'modal-contentEstatisticas'. */
    position: absolute; /* Posiciona o conteúdo da modal em relação à modal */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para que o centro da modal seja o ponto de referência */
    background: linear-gradient(var(--gradient-colors)) !important; /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    padding: 20px !important; /* Adiciona um preenchimento de 20px ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    border: solid 1px #888 !important; /* Adiciona uma borda sólida de cor cinza ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    width: 450px !important; /* Define a largura do conteúdo da modal como 400px. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    box-shadow :0 4px 8px rgba(0,0,0,0.2) !important; /* Adiciona uma sombra ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    border-radius: 10px;
}

.modal-contentEstatistica { /* Seleciona somente os elementos com a classe 'modal-contentEstatisticas'. */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Organiza os itens em uma coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
}

.modal-contentEstatistica .alinhaBtn {
    width: 100%;
    display: flex; /* Habilita flexbox */
    justify-content: start; /* Centraliza os itens verticalmente */
}


/*-- SWITCH DE DARK MODE --*/
.checkbox, .label {
    margin-right: 50px; /* Aplica uma margem à direita de 50px para elementos com a classe 'checkbox' e 'label' */
}

.checkbox {
    opacity: 0; /* Define a opacidade do elemento com a classe 'checkbox' como 0, tornando-o invisível */
}

/* Estiliza o elemento com a classe 'label' */
.label {
    background-color: var(--title-color); /* Define a cor de fundo como azul */
    border-radius: 50px; /* Arredonda os cantos do elemento */
    cursor: pointer; /* Muda o cursor para um ponteiro quando passa sobre o elemento */

    display: flex; /* Define o tipo de exibição como flexível */
    align-items: center; /* Alinha os itens no centro verticalmente */
    justify-content: space-between; /* Justifica o conteúdo para distribuir espaço igualmente entre os itens */

    padding: 5px; /* Adiciona um preenchimento de 5px ao redor do elemento */
    position: relative; /* Posiciona o elemento de forma relativa ao seu local normal */
    height: 17px; /* Define a altura do elemento como 17px */
    width: 34px; /* Define a largura do elemento como 34px */

    transform: scale(1.5); /* Aumenta o tamanho do elemento em 1.5 vezes */
}

/* Estiliza a bola dentro do elemento com a classe 'label' */
.label .ball {
    background-color: var(--hover-scroll-color); /* Define a cor de fundo como um tom escuro de azul */
    border-radius: 50%; /* Arredonda completamente o elemento para formar uma bola */
    position: absolute; /* Posiciona a bola absolutamente dentro do seu elemento pai */
    top: 1px; /* Posiciona a bola 1px abaixo do topo do seu elemento pai */
    left: 1px; /* Posiciona a bola 1px à direita da borda esquerda do seu elemento pai */

    height: 15px; /* Define a altura da bola como 15px */
    width: 15px; /* Define a largura da bola como 15px */

    transform: translateX(0px); /* Inicialmente, não move a bola horizontalmente */
    transition: transform 0.2s linear; /* Adiciona uma transição suave ao mover a bola horizontalmente */
}

/* Move a bola horizontalmente por 17px quando o checkbox está marcado */
.checkbox:checked + .label .ball {
    transform: translateX(17px);
}

/* Estiliza o ícone de lua do Font Awesome */
.fa-moon {
   color: var(--hover-scroll-color); /* Define a cor do ícone como um tom escuro de azul */
   font-size: 11px; /* Define o tamanho da fonte do ícone como 11px */ 
}

/* Estiliza o ícone de sol do Font Awesome */ 
.fa-sun {
   color: var(--hover-scroll-color); /* Define a cor do ícone como um tom escuro de azul */ 
   font-size: 11px; /* Define o tamanho da fonte do ícone como 11px */ 
}