@charset "UTF-8"; /* Define a codificação de caracteres do arquivo CSS como UTF-8. */

* { /* Seleciona todos os elementos. */
    padding: 0; /* Define o preenchimento de todos os elementos como 0. */
    margin: 0; /* Define a margem de todos os elementos como 0. */
}

body.corpo { /* Seleciona o elemento body com a classe 'corpo'. */
    background-color: #010409; /* Define a cor de fundo do corpo como #010409. */
    color: white; /* Define a cor do texto do corpo como branco. */
    width: 100%; /* Define a largura do corpo como 100% da largura da janela de visualização. */
}

header { /* Seleciona o elemento header. */
    border-bottom: #21262d solid 1px; /* Adiciona uma borda sólida de 1px na parte inferior do cabeçalho com a cor #21262d. */
    height: 70px; /* Define a altura do cabeçalho como 70px. */
    width: auto; /* A largura do cabeçalho é automaticamente ajustada para caber o conteúdo. */
}

header img { /* Seleciona todas as imagens dentro do elemento header. */
    width: 200px; /* Define a largura das imagens como 200px. */
}

header > a.logo { /* Seleciona todos os links diretos (<a>) com a classe 'logo' dentro do elemento header. */
    padding-left: 100px; /* Adiciona um preenchimento à esquerda de 100px aos links. */
}

.menu a { /* Seleciona todos os links dentro de um elemento com a classe 'menu'. */
    text-decoration: none; /* Remove qualquer decoração de texto dos links (como sublinhados). */
    width: 95%; /* Define a largura dos links como 95% da largura do elemento pai. */
    margin: auto; /* Centraliza os links horizontalmente dentro do elemento pai. */
    border-radius: 5px; /* Arredonda os cantos dos links com um raio de 5px. */
    padding-left: 50px; /* Adiciona um preenchimento à esquerda de 50px aos links. */
}

footer img.logosite { /* Seleciona todas as imagens com a classe 'logosite' dentro do elemento footer. */
    width: 80px; /* Define a largura das imagens como 80px. */
}

nav > a { /* Seleciona todos os links diretos (<a>) dentro do elemento nav. */
    text-decoration: none; /* Remove qualquer decoração de texto dos links (como sublinhados). */
}

main { /* Seleciona o elemento main. */
    text-align: justify; /* Alinha o texto à esquerda e à direita, adicionando espaço extra entre as palavras conforme necessário. */
    font-size: 14px; /* Define o tamanho da fonte como 14px. */
    line-height: 25px; /* Define a altura da linha como 25px. */
    height: 790px; /* Define a altura do elemento principal como 790px. */
    width: auto; /* A largura do elemento principal é automaticamente ajustada para caber o conteúdo. */
    background: linear-gradient(#0c0c1c, #02050b); /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b.*/
    border: #21262d solid 1px; /* Adiciona uma borda sólida de 1px ao redor do elemento principal com a cor #21262d.*/
    box-sizing: border-box; /* Inclui padding e border na largura e altura total do elemento.*/
    padding: 20px; /* Adiciona um preenchimento de 20px em todos os lados do conteúdo do elemento principal.*/
    overflow-y: scroll; /* Permite rolagem no eixo y se o conteúdo ultrapassar a altura especificada.*/
}

main h1 { /* Seleciona todos os títulos h1 diretos dentro do elemento main.*/
    color: #007afc; /* Define a cor dos títulos h1 como #007afc.*/
}

main h2 { /* Seleciona todos os elementos h2 dentro do elemento main. */
    font-size: 1.5em; /* Define o tamanho da fonte como 1.5 vezes o tamanho da fonte do elemento pai. */
}

main > div.imagem { /* Seleciona todas as divs diretas com a classe 'imagem' dentro do elemento main. */
    display: flex; /* Define o modelo de layout flexível para a div, o que permite que seus filhos sejam alinhados de maneira flexível. */
    justify-content: center; /* Alinha os filhos da div no centro ao longo do eixo principal. */
    align-items: center; /* Alinha os filhos da div no centro ao longo do eixo transversal. */
    padding: 20px; /* Adiciona um preenchimento de 20px em todos os lados do conteúdo da div. */
    margin-bottom: 8px; /* Adiciona uma margem de 8px abaixo da div. */
}

.legendtext { /* Seleciona todos os elementos com a classe 'legendtext'. */
    text-align: end; /* Alinha o texto à direita se a direção do texto for da esquerda para a direita. */
    font-style: italic; /* Define o estilo da fonte como itálico. */
} 

.linkprova { /* Seleciona todos os elementos com a classe 'linkprova'. */
    text-align: end; /* Alinha o texto à direita se a direção do texto for da esquerda para a direita. */
}

ul > li { /* Seleciona todos os elementos li que são filhos diretos de um elemento ul. */
    margin-bottom: 10px; /* Adiciona uma margem de 10px abaixo dos elementos li. */
}

div.buttons { /* Seleciona todas as divs com a classe 'buttons'. */
    display: flex; /* Define o modelo de layout flexível para a div, o que permite que seus filhos sejam alinhados de maneira flexível. */
    gap: 20px; /* Define um espaço de 20px entre os filhos da div. */
}

button.destaque {
    color: #B11016;
    border: 1px solid #B11016;
}
button.destaque:hover {
    color: white;
    background-color: #B11016;
    border: 1px solid #B11016;
}

footer { /* Seleciona o elemento footer. */
    height: 70px; /* Define a altura do rodapé como 70px. */
    width: 100vw; /* Define a largura do rodapé como 100% da largura da janela de visualização. */
    border-top: #21262d solid 1px; /* Adiciona uma borda sólida de 1px na parte superior do rodapé com a cor #21262d. */
    margin: 0; /* Define a margem do rodapé como 0. */
    padding: 0; /* Define o preenchimento do rodapé como 0. */
}

footer > div { /* Seleciona todas as divs que são filhas diretas de um elemento footer. */
    width: 100vw; /* Define a largura das divs como 100% da largura da janela de visualização. */
    position: absolute; /* Posiciona as divs em relação ao elemento pai mais próximo (não estático) ou ao viewport.*/
}

scroll-container { /* Seleciona todos os elementos 'scroll-container'. */
    display: block; /* Define o tipo de exibição como 'block', o que significa que o elemento ocupa todo o espaço disponível em sua linha e força uma quebra de linha antes e depois de si. */
    width: 350px; /* Define a largura do elemento como 350px. */
    height: 790px; /* Define a altura do elemento como 790px. */
    overflow-y: scroll; /* Permite rolagem no eixo y se o conteúdo ultrapassar a altura especificada. */
    background: linear-gradient(#0c0c1c, #02050b); /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b.*/
    border-right: #21262d solid 1px; /* Adiciona uma borda sólida de 1px à direita do elemento com a cor #21262d.*/
}

scroll-container::-webkit-scrollbar, main::-webkit-scrollbar { /* Seleciona a barra de rolagem do scroll-container e do elemento main para navegadores Webkit (Chrome, Safari).*/
    width: 12px; /* Define a largura da barra de rolagem como 12px.*/
    display: none; /* Esconde a barra de rolagem.*/
}

scroll-page { /* Seleciona todos os elementos 'scroll-page'. */
    display: flex; /* Define o modelo de layout flexível para o elemento, o que permite que seus filhos sejam alinhados de maneira flexível. */
    align-items: center; /* Alinha os filhos do elemento no centro ao longo do eixo transversal. */
    justify-content: start; /* Alinha os filhos do elemento no início ao longo do eixo principal. */
    height: 40px; /* Define a altura do elemento como 40px. */
    font-size: 1em; /* Define o tamanho da fonte como 1em, que é equivalente ao tamanho atual da fonte. */
}

scroll-page:hover { /* Seleciona todos os elementos 'scroll-page' quando o cursor está sobre eles. */
    background-color: #1a1a35; /* Define a cor de fundo dos elementos como #1a1a35 quando o mouse está sobre eles. */
    border: 1px solid #21262d; /* Adiciona uma borda sólida de 1px ao redor dos elementos com a cor #21262d quando o mouse está sobre eles. */
}

scroll-page:hover a { /* Seleciona todos os links dentro dos elementos 'scroll-page' quando o cursor está sobre eles. */
    color: white; /* Define a cor dos links como branco quando o mouse está sobre eles. */
}

/* Após JavaScript adicionar a classe .active, aplica-se as seguintes propriedades */
scroll-page.active { /* Seleciona todos os elementos 'scroll-page' com classe 'active'. */
    background-color: #1a1a35; /* Define a cor de fundo dos elementos. */
    border: 1px solid #21262d; /* Adiciona uma borda sólida de 1px ao redor dos elementos.*/
}
scroll-page.active a { /* Seleciona todos os links dentro dos elementos 'scroll-page' com classe 'active'. */
    color: white; /* Define a cor dos links como branco.*/
}

/* Estilos para a modal */
.modal { /* Seleciona todos os elementos com a classe 'modal'. */
    display: none; /* A modal está escondida por padrão. */
    position: fixed; /* A modal é posicionada em relação à janela de visualização. */
    z-index: 1; /* A modal aparecerá acima de todos os outros elementos. */
    left: 0; /* A modal é posicionada no canto esquerdo da janela de visualização. */
    top: 0; /* A modal é posicionada no topo da janela de visualização. */
    width: 100%; /* A largura da modal é definida como 100% da largura da janela de visualização. */
    height: 100%; /* A altura da modal é definida como 100% da altura da janela de visualização. */
    background-color: rgba(0,0,0,0.7); /* A cor de fundo da modal é preta com uma opacidade de 70%. */
}
.modal-content { /* Seleciona todos os elementos com a classe 'modal-content'. */
    background: linear-gradient(#0c0c1c, #02050b) !important; /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    margin: 20% auto !important; /* Centraliza o conteúdo da modal na vertical e na horizontal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    padding: 20px !important; /* Adiciona um preenchimento de 20px ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    border: solid 1px #888 !important; /* Adiciona uma borda sólida de cor cinza ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    width: 400px !important; /* Define a largura do conteúdo da modal como 400px. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
    box-shadow :0 4px 8px rgba(0,0,0,0.2) !important; /* Adiciona uma sombra ao redor do conteúdo da modal. A regra !important garante que este estilo tenha prioridade sobre outros estilos potencialmente conflitantes.*/
}