@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body.corpo {
    background-color: #010409;
    color: white;
    width: 100%;
}

header {
    border-bottom: #21262d solid 1px;
    height: 70px;
    width: auto;
}

header img {
    width: 200px;
}

header > a.logo {
    padding-left: 100px;
}

.menu a {
    text-decoration: none;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    padding-left: 50px;
}

footer img.logosite {
    width: 80px;
}

nav > a {
    text-decoration: none;
}

main {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
    height: 790px;
    width: auto;
    /* background-color: #0d1117; */
    background: linear-gradient(#0c0c1c, #02050b);
    border: #21262d solid 1px;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: scroll;
}

main > h1 {
    color: #007afc;
}

main h2 {
    font-size: 1.5em;
}

main > div.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 8px;
}

.legendtext {
    text-align: end;
    font-style: italic;
} /*Este seletor define os estilos da legenda, como sua localização e o tipo de fonte, no caso, localizado ao fim da divisão e escrito em itálico.*/

.linkprova {
    text-align: end;
}

ul > li {
    margin-bottom: 10px;
}

div.buttons {
    display: flex;
    gap: 20px;
}

.fantasma {
    height: 18vh;
}

footer {
    height: 70px;
    width: 100vw;
    border-top: #21262d solid 1px;
    margin: 0;
    padding: 0;
}

footer > div {
    width: 100vw;
    position: absolute;
}

scroll-container {
    display: block;
    width: 350px;
    height: 790px;
    overflow-y: scroll;
    background: linear-gradient(#0c0c1c, #02050b);
    border-right: #21262d solid 1px;
}

scroll-container::-webkit-scrollbar, main::-webkit-scrollbar {
    width: 12px;
    display: none;
}

scroll-page {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    font-size: 1em;
}

scroll-page:hover {
    background-color: #1a1a35;
    border: 1px solid #21262d
}

scroll-page:hover a {
    color: white;
}

/* Após JavaScript adicionar a classe .active, aplique as seguintes propriedades */
scroll-page.active {
    background-color: #1a1a35;
    border: 1px solid #21262d;
}
scroll-page.active a {
    color: white;
}




/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  .modal-content {
    background: linear-gradient(#0c0c1c, #02050b) !important;
    margin: 20% auto !important;
    padding: 20px !important;
    border: 1px solid #888 !important;
    width: 400px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
  }





