@charset "UTF-8"; /* Define a codificação de caracteres do arquivo CSS como UTF-8. */

body.corpo { /* Seleciona o elemento body com a classe 'corpo'. */
    background-color: #010409; /* Define a cor de fundo do corpo como #010409. */
    color: white; /* Define a cor do texto do corpo como branco. */
    width: 100%; /* Define a largura do corpo como 100% da largura da janela de visualização. */
}

header { /* Seleciona o elemento header. */
    border-bottom: #21262d solid 1px; /* Adiciona uma borda sólida de 1px na parte inferior do cabeçalho com a cor #21262d. */
    height: 70px; /* Define a altura do cabeçalho como 70px. */
    width: auto; /* A largura do cabeçalho é automaticamente ajustada para caber o conteúdo. */
}

header img { /* Seleciona todas as imagens dentro do elemento header. */
    width: 200px; /* Define a largura das imagens como 200px. */
}

header > a.logo { /* Seleciona todos os links diretos (<a>) com a classe 'logo' dentro do elemento header. */
    padding-left: 100px; /* Adiciona um preenchimento à esquerda de 100px aos links. */
}

footer img.logosite { /* Seleciona todas as imagens com a classe 'logosite' dentro do elemento footer. */
    width: 80px; /* Define a largura das imagens como 80px. */
}

nav > a { /* Seleciona todos os links diretos (<a>) dentro do elemento nav. */
    text-decoration: none; /* Remove qualquer decoração de texto dos links (como sublinhados). */
}

.btn.active { /* Seleciona todos os elementos com as classes 'btn' e 'active'. */
    background-color: #007bff; /* Define a cor de fundo dos elementos como #007bff. */
    color: white; /* Define a cor do texto dos elementos como branco. */
}

main { /* Seleciona o elemento main. */
    text-align: justify; /* Alinha o texto à esquerda e à direita, adicionando espaço extra entre as palavras conforme necessário. */
    font-size: 14px; /* Define o tamanho da fonte como 14px. */
    line-height: 25px; /* Define a altura da linha como 25px. */
    height: 790px; /* Define a altura do elemento principal como 790px. */
    width: auto; /* A largura do elemento principal é automaticamente ajustada para caber o conteúdo. */
    background: linear-gradient(#0c0c1c, #02050b); /* Define um gradiente linear como plano de fundo, começando com #0c0c1c e terminando com #02050b.*/
    border: #21262d solid 1px; /* Adiciona uma borda sólida de 1px ao redor do elemento principal com a cor #21262d.*/
    box-sizing: border-box; /* Inclui padding e border na largura e altura total do elemento.*/
    padding: 20px; /* Adiciona um preenchimento de 20px em todos os lados do conteúdo do elemento principal.*/
    overflow-y: scroll; /* Permite rolagem no eixo y se o conteúdo ultrapassar a altura especificada.*/
}

main > h1 { /* Seleciona todos os títulos h1 diretos dentro do elemento main.*/
    text-align: center; /* Centraliza o texto dos títulos h1.*/
}

footer { /* Seleciona o elemento footer.*/
    height: 70px; /* Define a altura do rodapé como 70px.*/
    width: 100vw; /* Define a largura do rodapé como 100% da largura da janela de visualização.*/
    border-top: #21262d solid 1px; /* Adiciona uma borda sólida de 1px na parte superior do rodapé com a cor #21262d.*/
}

footer > div { /* Seleciona todas as divs diretas dentro do elemento footer.*/
    width: 100vw; /* Define a largura das divs como 100% da largura da janela de visualização.*/
    position: absolute; /* Posiciona as divs em relação ao elemento pai mais próximo (não estático) ou ao viewport.*/
}

scroll-container::-webkit-scrollbar, main::-webkit-scrollbar { /* Seleciona a barra de rolagem do scroll-container e do elemento main para navegadores Webkit (Chrome, Safari).*/
    width: 12px; /* Define a largura da barra de rolagem como 12px.*/
    display: none; /* Esconde a barra de rolagem.*/
}

div.logos_img > div > a {
    display: flex; 
    justify-content: center;
    align-items: center;
}

div.logos_img img {
    width: 150px;
    margin: 10px;
}